* { 
	margin: 0px; 
	padding: 0px;
	font-family: Georgia;
}
#canvas1{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: radical-gradient(#fc2629, #fc7984);
}

#logo {
	height:120px;
	text-align: center;
	color: white;
	background-color: #b1424d;
	padding: 10px;
}

.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background-color: #b1424d;
	text-align: center;
	border: 1px solid #000000;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content{
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background-color: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background-color: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background-color: #ece5e5;
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background-color: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
